.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    justify-content: center;
   
  }
  
  .contact-form, .map {
    padding: 20px;
    box-sizing: border-box;
  }
  
  .contact-form {
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: #0056b3 solid 2px;
    align-items: center;
  }
  
  #contactForm{
    width: 60%;
  }

  .contact-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 4px;
  }
  
  .form-group input:focus, .form-group textarea:focus {
    border-color: #80bdff;
    outline: 0;
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  .map {
    padding: 30px;
    margin: 10%;
  }


.title {
    text-align: center;
    margin-bottom: 50px;
    width: 100vw;
}

.title h1 {
    font-size: 36px;
    font-weight: bold;
}

.title p {
    font-size: 18px;
    color: #777;
}