*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/*Body*/
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f2f2f3;
}

/*Menu responsivo*/
header {
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffff;
    padding-right: 0px;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    position: fixed; 
    width: 100%;
    opacity: 1;
    z-index: 1;
}


.logo{
  grid-column: span 1;
}

nav {
  
  overflow: hidden;
  grid-column: 3/4;
}

nav ul {
  list-style-type: none; 
  margin: 0; 
  padding: 0;
}

nav ul li {
  display: inline-block; 
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}  

nav  a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 10px;
}

nav a:hover {
  background-color: #f2f2f2;
  color: black;
  border-radius: 10px;
}

nav a.active {
  background-color: #b99470;
  color: white;
  border-radius: 10px;
}

nav .icon {
  display: none;
}

@media screen and (max-width: 920px) {

  nav li:not(:first-child) {display: none;}
  nav ul .icon {
    float: right;
    display: block;
  }

  nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    grid-column: span 1;
    margin: 0;
    padding: 14px 16px 16px 14px;
    border: 0;
  }
  nav.responsive li {
      float: none;
      display: grid;
      text-align: left;
      grid-column: 3/4;
      border: 1px solid rgba(185, 148, 112, 0.4);
      border-radius: 10px;
      margin: 5px 15% 5px 15%;
      padding: 0;
  }
  .topnav{
    grid-column: span 1;
  }
  nav.responsive {
    grid-column: span 2;
    background-color: rgba(49, 49, 49, 0.9);
  }
  header {
    background-color: rgba(49, 49, 49, 0.8);
  }
}

/*Fin MENU RESPONSIVE*/

/*Footer*/
footer {
  background-color: #333;
  color: #ffff;
  padding: 20px;
  text-align: center;
}


/*Contenido de la pagina principal*/
.logo img {
  width: 140px;
  margin: 5px; 
}

.text-content{
  width: 100%;
  grid-column: 2/4;
  hr {
      height: 4px;
      width: 10%;
      background-color: #b99470;
      border: 0;
      margin-bottom: 5px;
  }
}

.alojamiento {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  justify-content: center; 
  align-items: center;   
  padding: 20px;
  background-color: #fff;
}


.img-alojamiento {
  position: relative;
  padding-top: 5%;
  grid-column: 4/9;
  display: grid;
  justify-content: center;
}

.img-alojamiento img {
  display: block; 
}

.img-superponer {
  position: absolute; 
  top: 0;
  left: 50%;
}

.img-superponer img {
  width: 60%;
}

.icon-index{
  color: #AA825D;
}


.instalaciones{
  width: 100%;
  display: flex;
  justify-content: center;
  .instalaciones-content{
      width: 60%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .instalaciones-item{
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 20px;
          text-align: center;
      }
  }
}



.titulo-seccion{
  text-align: center;
  align-items: center;
  padding: 80px;
  display: flex;
  flex-direction: column;

  .text-welcome{
      justify-content: center;
      margin: 20px;
      width: 40%;
  }

  hr {
      height: 4px;
      width: 10%;
      background-color: #b99470;
      border: 0;
  }
}

.titulo-seccion h3 {
  font-size: 35px;
}

.botonIndex{
  background-color:#b99470;
  color: #ffffff;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
   transition: transform 0.3s, box-shadow 0.3s;
   &:hover {
       background-color: #b99470;
       transform: scale(0.95);
       box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
   }
}

.seccionPrincipal{
  color:white;
  background: url(../img/fondo.jpg    );
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  .tituloPrincipal{
      font-size: 4rem;
      font-weight: 700;
      margin-bottom: 1rem;
  }
  .subtituloPrincipal{
      font-size: 2.2rem;
      font-weight: 400;
      margin-bottom: 1rem;
  }
}

@media screen and (max-width: 1080px) {

  .instalaciones{
      width: 100%;
      display: flex;
      justify-content: center;
      .instalaciones-content{
          width: 100%;
          display: grid;
          grid-template-columns: repeat(1, 1fr);
  
          .instalaciones-item{
              display: flex;
              flex-direction: column;
              align-items: center;
              padding: 20px;
              text-align: center;
          }
      }
  }

  .alojamiento {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
  }
  .text-content{
      width: 95%;
      grid-column: span 6 ;
      padding-bottom: 20px;
  }
  .img-alojamiento {
    max-width: 100%;
    padding: 0;
    grid-column: span 6
  }

  .titulo-seccion{
      width: 100%;
      padding: 50px 0px 20px 0px;
      .text-welcome{
          width: 100%;
          padding: 30px;
      }
  }

  .img-alojamiento img{
      width: 100%;
  }

  .img-superponer{
      display: none;
  }
  .seccionPrincipal{
      height: 60vh;
      padding: 30px;
      .tituloPrincipal{
          font-size: 2.5rem;
      }
      .subtituloPrincipal{
          font-size: 1.5rem;
      }
  }
}


/*Contenido de la pagina principal*/

