/*Contenido de la pagina principal*/

.text-content {
  width: 100%;
  grid-column: 2/4;

  .miHr {
    height: 4px;
    width: 0;
    background-color: #b99470;
    border: 0;
    margin-bottom: 5px;
    transition: width 2s;
  }

  h2 {
    font-size: 40px;
  }
}

.alojamiento {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  height: 100vh;
}

.img-alojamiento {
  position: relative;
  padding-top: 5%;
  grid-column: 4/9;
  display: grid;
  justify-content: center;
}

.img-alojamiento img {
  display: block;
}

.img-superponer {
  position: absolute;
  top: 0;
  left: 50%;
}

.img-superponer img {
  width: 60%;
}

.icon-index {
  color: #aa825d;
}



.text-welcome {
  display: grid;
  padding: 0 30% 0 30%;
  width: 100%;
  text-align: center;
  height: min-content;
}



.bienvenida {
  display: grid;
  justify-items: center;
  margin-bottom: 5%;
  height: 70dvh;
  margin-top: 10%;
}

.servicios {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 70%;
  grid-column: span 1;
  grid-gap: 1%;

  .servicios-item {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color: #ccc;
    display: grid;
    justify-content: center;
    text-align: center;
  }

  .servicios-item span {
    padding: 0;
    margin: 0;
    font-size: 80px;
  }

  .servicios-item p {
    font-size: small;
  }
}

.seccionPrincipal {
  color: white;
  background: url(../img/fondo.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .tituloPrincipal {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .subtituloPrincipal {
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }
}

.instalaciones {
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding-bottom: 10%;
  background-color: white;
}

.instalaciones-contenido {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .instalaciones-item {
    display: grid;
    text-align: center;
  }

  .instalaciones-item p {
    padding: 0 20% 0 20%;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1080px) {
  .alojamiento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .text-content {
    width: 95%;
    grid-column: span 6;
    padding-bottom: 20px;
  }

  .img-alojamiento {
    max-width: 100%;
    padding: 0;
    grid-column: span 6;
  }

  .titulo-seccion {
    width: 100%;
    padding: 50px 0px 20px 0px;
  }

  .text-welcome {
    width: 100%;
    padding: 30px;
  }

  .img-alojamiento img {
    width: 100%;
  }

  .img-superponer {
    display: none;
  }

  .seccionPrincipal {
    height: 60vh;
    padding: 30px;

    .tituloPrincipal {
      font-size: 2.5rem;
    }

    .subtituloPrincipal {
      font-size: 1.5rem;
    }
  }

  .bienvenida {
    display: grid;
    justify-items: center;
    height: auto;
  }

  .titulo-seccion {
    width: auto;
    padding: 0;
  }

  .servicios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: auto;
  }

  .instalaciones-contenido {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    .instalaciones-item {
      display: grid;
      text-align: center;
    }

    .instalaciones-item p {
      padding: 0 20% 0 20%;
      margin-bottom: 20px;
    }
  }
}

.galeria {
  height: 90vh;
  margin-top: 8%;
}

.contenido-galeria {
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.contenido-galeria .contenedor-galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 70%;
  grid-gap: 1%;
  margin-top: 5%;
}

.item-galeria {
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 5px 5px 0px rgba(49, 49, 49, 0.1);
  margin-bottom: 5%;
}

.item-galeria img {
  width: 100%;
  transition: transform 0.3s ease;
}

.item-galeria:hover img {
  transform: scale(1.2);
}

@media screen and (max-width: 920px) {
  .galeria {
    height: auto;
    margin-bottom: 15%;
  }

  .contenido-galeria .contenedor-galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    grid-gap: 1%;
  }
}

/*Contenido de la pagina principal*/
.seccion {
  opacity: 0;
  /* Inicialmente, establece la opacidad en 0 para ocultar la sección */
  transition: opacity 1s ease-in-out;
  /* Aplica una transición suave en la opacidad */
}

.aparecer {
  opacity: 1;
  /* Cuando la clase 'aparecer' se agrega al elemento, la opacidad cambia a 1, mostrando la sección */
}